{# This is typcial header content that is the same acrosss all pages #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="html">
    
    <head>
        {% block head %}
            <meta name="description" content="Electric Heron blog" />
            <meta name="author" content="//electricheron.com">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta itemprop="name" content="Electric Heron blog">
            <meta name="mobile-web-app-capable" content="yes">
            <meta id="theme-color" name="theme-color" content="#307699">
            <meta charset="utf-8">
            <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet"> 
            <title>{% block title %}{% endblock %}</title>
            <link rel="stylesheet" href="/css/normalize.css">
            <link rel="stylesheet" href="/css/main.css">
        {% endblock %}
    </head>
    
    <body>
    
            {% block content %}
            
            {% endblock %}
        
    </body>
</html>
