
{#}
 # Blog entry template
 # -------------------
 #
 # This template gets loaded whenever a Blog entry's URL is requested, because
 # the Blog section's Template setting is set to "blog/_entry".
 #
 # An `entry` variable will be automatically passed to this template, which will
 # be set to the requested Blog entry.
#}

{% extends "layouts/_layout" %}

{% block content %}

	<div class="blog-container">
	
		<div class="page-title">
			<p>ELECTRIC HERON | BLOG</p>
		</div>

			<div class="posts">

				<p class="posts-title">
					<a href="{{ entry.url }}">{{ entry.title }}</a>
				</p>

				{# Loop through all of the blog entries and display up to five per page #}
				{% for block in entry.blogMatrix %}

					{% switch block.type %}
								
						{% case 'blogImage' %}
							
							{% set image = block.blogImage.first() %}

								<div class="entry-images">
									<a href="{{ entry.url }}">				        
							        <figure>
								        <img src="{{ image.optimage.src() }}"
								             srcset="{{ image.optimage.srcset() }}"
								             sizes="55vw" />
										{% if block.caption %}
											<figcaption style="font-size: .85em; color: #00b2c2;">{{ block.caption }}</figcaption>
										{% endif %}
									</figure>
								</a>
								</div>
													
						{# Limit the main blogBody content output to only the first paragraph #}
						{% case 'blogBody' %}

							{% set paragraphs = block.blogBody|split('</p>') %}
							{% set teaser = paragraphs|first ~ '</p>' %}
							
							<div class="excerpt">
								<p>{{ teaser|raw }}</p>
							</div>
				
						{# Uses Embedded Assetts plugin #}
						{% case 'blogVideo' %}

							{% set asset = block.blogVideo.first() %}
							{% set embed = craft.embeddedAssets.fromAsset(asset) %}

			  					{% if embed %}
			  						<div class="video">
			    						<p>{{ embed.safeHtml|raw }}</p>
			    					</div>
			  					{% endif %}
			  				
					{% endswitch %}

				{% endfor %}

				{# Meta info and categories for the post #}
				<div>
					<p class="post-meta">Posted by {{ entry.author }}
					on {{ entry.postDate | date('d.M.Y') }}</p>
				</div>

				<div class="categories">
					<p>File Under:
						{% set categories = craft.categories %}
						{% for category in entry.categories %}
						
						<a href="{{ category.url }}" class="cat-link">{{ category.title }}</a>
					
						{% endfor %}
					</p>
				</div>

			</div>
		
			{# Pagination and home page link #}
			<div class="blog-nav">
				<a href="/blog/index.html" class="blog-nav-link">Blog Home</a>
				<a href="../index.html" class="blog-nav-link">Site Home</a>
			</div>

	</div>

{% endblock %}
