{% extends "layouts/_layout" %}

{% block content %}

	<div class="blog-container">
	
		<div class="page-title">
			<p>ELECTRIC HERON | BLOG</p>
		</div>

		{# This loops through all of the blog entries and displays up to one per page #}
		{% paginate craft.entries.section('blog').limit(1) as pageInfo, pageEntries %}
		{% for entry in pageEntries %}

			<div class="posts">

				<p class="posts-title">
					<a href="{{ entry.url }}">{{ entry.title }}</a>
				</p>

				{# Pull in the blog matrix field, and limit the main body content output to only the first paragraph #}
				{% for block in entry.blogMatrix %}

					{% switch block.type %}
								
						{% case 'blogImage' %}
							
							{% set image = block.blogImage.first() %}

								<div class="featured-images">
									<a href="{{ entry.url }}">
										<img src="{{ image.getUrl() }}" alt="{{ entry.title }}">
									</a>
								</div>
								
								<div class="caption">
									{% if block.caption %}
										<p>{{ block.caption }}</p>
									{% endif %}
								</div>
													
						{% case 'blogBody' %}

							{% set paragraphs = block.blogBody|split('</p>') %}
							{% set teaser = paragraphs|first ~ '</p>' %}
							
							<div class="excerpt">
								<p>{{ teaser|raw }}</p>
							</div>
				
						{% case 'blogVideo' %}

							{% set asset = block.blogVideo.first() %}
							{% set embed = craft.embeddedAssets.fromAsset(asset) %}

			  					{% if embed %}
			  						<div class="video">
			    						<p>{{ embed.safeHtml|raw }}</p>
			    					</div>
			  					{% endif %}
			  				
					{% endswitch %}

				{% endfor %}

				{# Meta info and categories for the post #}
				<div>
					<p class="post-meta">Posted by {{ entry.author }}
					on {{ entry.postDate | date('d.M.Y') }}</p>
				</div>

				<div class="categories">
					<p>File Under:
						{% set categories = craft.categories %}
						{% for category in entry.categories %}
						
						<a href="{{ category.url }}" class="cat-link">{{ category.title }}</a>
					
						{% endfor %}
					</p>
				</div>

			</div>

		{% endfor %}

		{# Pagination and home page link #}
		<div class="blog-nav">

			{% if pageInfo.prevUrl %}
				<a href="{{ pageInfo.prevUrl }}" class="blog-nav-link">Prev</a>
			{% endif %}
			
			{% if pageInfo.nextUrl %}
				<a href="{{ pageInfo.nextUrl }}" class="blog-nav-link">Next</a>
			{% endif %}

			<a href="../index.html" class="blog-nav-link">Home</a>
		</div>

	</div>

{% endblock %}
