{% extends "layouts/_layout" %}

{% block content %}

	<div class="blog-container">

		<div class="page-title bold">
			<p>ELECTRIC HERON | BLOG</p>
		</div>

		{# This loops through all of the blog entries and displays up to four per page #}
		{% paginate craft.entries.section('blog').limit(4) as pageInfo, pageEntries %}
		{% for entry in pageEntries %}
			
			<div class="post-preview">
				<h2 class="post-title">{{ entry.title }}</h2>

				{# This include pulls in the blog matrix field, and limits the output to only the first paragraph. This also posts the meta info and categories for the post #}
				{% for block in entry.blogMatrix %}

					{% switch block.type %}
						
						{% case 'blogImage' %}
							
							{% set image = block.blogImage.first() %}

							<div>
								<img src="{{ image.getUrl() }}" alt="{{ entry.title }}">
							</div>
							<div>
								{% if block.caption %}
									<p>{{ block.caption }}</p>
								{% endif %}
							</div>
						
							
						{% case 'blogBody' %}

							{% set paragraphs = block.blogBody|split('</p>') %}
							{% set teaser = paragraphs|first ~ '</p>' %}
							{{ teaser|raw }}

							<div class="read-more">
								<a href="{{ entry.url }}">[Read More]</a>
							</div>

				
						{% case 'blogVideo' %}

							{% set asset = block.blogVideo.first() %}
							{% set embed = craft.embeddedAssets.fromAsset(asset) %}

			  					{% if embed %}
			    					{{ embed.safeHtml|raw }}
			  					{% endif %}

					{% endswitch %}

				{% endfor %}

				<p class="post-meta">Posted by {{ entry.author }}
				on {{ entry.postDate | date('d.M.Y') }}</p>

				<p>File Under:
					{% for block in entry.blogMatrix %}
					{% for category in block.category %}
						
						<a href="{{ category.url }}" class="cat-link">{{ category.title }}</a>
					
					{% endfor %}
					{% endfor %}
				</p>

			</div>

		{% endfor %}

		{# Pagination and home page link #}
		<div class="blog-nav">
			<a href="../index.html" class="blog-nav-link">[Home]</a>
			
			{% if pageInfo.prevUrl %}
				<a href="{{ pageInfo.prevUrl }}" class="blog-nav-link">[Previous Page]</a>
			{% endif %}
			{% if pageInfo.nextUrl %}
				<a href="{{ pageInfo.nextUrl }}" class="blog-nav-link">[Next Page]</a>
			{% endif %} 
		</div>

	</div>

{% endblock %}
