

/****** Site-wide Styling ******/

html * {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    list-style-type: none;
}

.main-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 4fr 2fr 2fr 6fr;
    height: 100vh;
    max-width: 100vw;
}

.page-title {
    background: #fff;
    color: #ff00ff;
    text-align: center;
    font-weight: 700;
    font-size: 1.3em;
}

.page-title p {
    margin: 0;
    padding: 1em 0;
}



/****** Blog Styling ******/

.blog-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 2em;
    max-width: 100vw;
    background: #ffc60b;
}

.posts {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    background: #fff;
    padding: 1em;
    margin-left: 2em;
    margin-right: 2em;
    
}

.posts-title {
    margin-top: .3em;
}

.posts-title a {
    font-size: 1.2em;
    background: #fff;
    color: #ff00ff;
    transition: all 0.1s;
}

.posts-title a:hover {
    padding: .2em .3em;
    background-color: #FF00FF;
    color: #FFC60B;
}

.featured-images img {
    max-width: 100vw;
}

.caption {
    color: #ff00ff;
}

.excerpt, .content {
    background: #fff;
    color: #ff00ff;
    
}

.excerpt {
    max-width: 100vw;
}


.entry a, .blog-nav a {
    background: #00b2c2;
    color: #fff;
    transition: all 0.1s;
}

.entry a:hover, .blog-nav a:hover {
    background: #fff;
    color: #ff00ff;
    transition: all 0.1s;
}


.post-meta {
    font-style: italic;
    color: #29abe2;
}


.cat-link {
    background-color: #00b2c2;
    color: #fff;
    padding: .3em .5em;
    text-align: center;
    font-style: italic;
    display: inline-block;
    transition: all 0.1s;
}

.cat-link:hover {
    background-color: #FF00FF;
    color: #FFC60B;
}


.blog-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2em;
    text-align: center;
    

}

.blog-nav-link {
    background-color: #00b2c2;
    color: #fff;
    padding: .3em .5em;
    
    text-align: center;
    font-style: italic;
    display: inline-block;
    transition: all 0.1s;
}

.blog-nav-link a {
    background-color: #FFC60B;
    color: #ff00ff;
}

.blog-nav-link:hover {
    background-color: #FF00FF;
    color: #FFC60B;
}

.blog-nav-link:hover a {
    background-color: #FF00FF;
    color: #FFC60B;
    padding: 2em;
}



/* Front Page Grid Styling */


.gold {
    grid-column: 1;
    grid-row: 1;   
    background-color: #FFC60B;
    width: 100%;
}

.gold2 {
    grid-column: 1;
    grid-row: 2;   
    background-color: #FFC60B;
    width: 100%;
}

.white {
    grid-column: 1;
    grid-row: 3;   
    background-color: #FFF;
    width: 100%;
}

.heron {
    grid-column: 1;
    grid-row: 2/4;
    margin: 0 auto;
    max-height: 100%;
    max-width: 95%;
}


.nav-container {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    
}



/* Nested Grid Container for Navigation Buttons */

.menu-buttons {
    display: grid;
    grid-template-columns: 3fr auto 3fr;
    grid-template-rows: auto;
    font-style: italic;
}



/* Navigation Button Grid Placement */

.about {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: .7em;
}

.folio {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: .7em;
}

.reach {
    grid-column: 2;
    grid-row: 3;
    margin-bottom: .7em;
}

.blog {
    grid-column: 2;
    grid-row: 4;
    margin-bottom: .7em;
}




/****** Navigation Button Styling ******/

.button {
    background-color: #FFC60B;
    border: none;
    color: #FF00FF;
    padding: .3em 1em;
    text-align: center;
    text-decoration: none;
    font-style: italic;
    display: inline-block;
    transition: all 0.1s;
}

.button a {
    color: #FF00FF;
}

.button:hover {
    background-color: #FF00FF;
    color: #FFC60B;
}

.button:hover a {
    background-color: #FF00FF;
    color: #FFC60B;
}



/****** Media Queries ******/

@media all and (min-width: 400px) {
    .main-container {
        grid-template-rows: 4fr 2.5fr 2.5fr 6fr;
    }



@media all and (min-width: 500px) {
    .nav-container {
        display: flex;
        flex-direction: row;
       
        margin: 1.3;

    }

    .menu-buttons {
        display: inline-block;
        margin: 1.5em auto;
    }

    .button {
        margin: 0 1em;
    }
        
        
      






@media all and (min-width: 700px) {
    .button {
        font-size: 1.2em;
    }



@media all and (min-width: 800px) {
    .button {
        font-size: 1.2em;
    }



/*@media all and (min-width: 900px) {
    .nav-container {
        display: flex;
        flex-direction: row;
    }

   .menu-buttons {
        display: flex;
        flex-direction: row;
        
    }*/



