
{% extends "layouts/_layout" %}


{% block content %}
     
 
<div class="main-container">
    
    <div class="gold"></div>
    <div class="gold2"></div>
    <div class="white"></div>
      
    <img class="heron" src="https://heron.imgix.net/images/heron-title.png" alt="silhoutte of blue heron">
      
    <div class="nav-container">
      
      <div class="menu-buttons">
        
        <div class="button about"><a href="about/about.html">ABOUT</a></div>
        <div class="button folio"><a href="folio/folio.html">FOLIO</a></div>
        <div class="button reach"><a href="reach/reach.html">REACH</a></div>
        <div class="button blog"><a href="blog/index.html">BLOG</a></div>
      
      </div>
    
    </div>

</div>
  
  
  
{% endblock %}


